@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

#header{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline:100px ;
}
#header .logo{
    color: white;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 2px;
}
#header .desktop-nav{
    display: flex;
    gap: 20px;
}
#header .desktop-nav a{
    text-decoration: none;
    color: white;
    font-weight: 520;
    padding-inline: 25px;
    font-size: 18px;
}
#header .icon{
    display: none;
}

/* Responsive design */
@media screen and (max-width:1100px)
{
    #header{
        width: 100%;
        height: 100px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline:100px;
        position: relative;
    }
    #header nav.desktop-nav{
        width: 300px;
        height: 90vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        top: 100%;
        right:-300px;
        background-color: rgb(66, 65, 65);
        transition:all 0.2s ease;
        padding: 50px 5px;
    }
    #header div.icon{
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        cursor: pointer;
    }
    #header .icon span{
        width: 100%;
        height: 3px;
        background-color: lightgray;
    }
    #header nav.open{
        right: 0px;
    }
    #header .icon span.left{
        transform: rotate(-44deg) translate(-9px,10px);
    }
    #header .icon span.right{
        transform: rotate(44deg) translate(0px,-1px);
    }
    #header .icon span.hide{
        display: none;
    }
    #header nav.open a{
        width: 100%;
        text-align: center;
        padding-block: 12px;
        border-radius: 5px;
        color: white;
    }
    #header nav.open a:hover{
        background-color: rgba(255, 255, 255, 0.766);
        color: black;
        
    }
    
}

/* Hero Section Design*/

#hero{
    width: 100%;
    height: calc(100% - 100px);
    background-image:linear-gradient(#e7c6ff,#42a5f5);
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero .slider-container{
    width: 75%;
    height: 550px;
    position: relative;
    overflow: hidden;
}
#hero .slider-container .slide{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    transition: 1s ease;
}
button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #000000c0;
    color: #fff;
    font-size: 18px;
}
button.prev{
    left: 10px;
}
button.next{
    right: 10px;
}